<div id="pages_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Maria Lobillo.</h1>
		<p>This week I built a blog in Rails 4. You are actually on the demo application right now. Cool stuff, right!</p>
		<p>If you could like to follow along as I learn more Ruby on rails, find me on Twitter @mytwitter y demas cosas</p>
	</div>
</div>